/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
header {
    margin-top: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    
}

header .logo img {
    width: 350px; /* Ajusta el tamaño según sea necesario */
}

header .logo p {
    font-size: 14px;
    margin: 5px 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    border-top: 2px solid rgb(226, 226, 205);
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.indice {
    color: black;
    font-size: 16px;
    line-height: 3;
}

main {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

/* Título principal de la página "Otras Cosas" */
.otras-cosas h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Títulos de las subsecciones dentro de "Otras Cosas" */
.otras-cosas h3 {
    color: #4CAF50; /* Verde para mantener la coherencia con el tema saludable */
    margin-top: 20px;
}

/* Listas de consejos, eventos, y blog */
.otras-cosas ul {
    list-style-type: disc;
    padding-left: 20px;
}

.otras-cosas ul li {
    margin-bottom: 10px;
}

/* Estilo para los párrafos dentro de "Otras Cosas" */
.otras-cosas p {
    color: #555; /* Color gris claro para el texto */
    margin-bottom: 15px;
}

/* Estilo para cada subsección de la página "Otras Cosas" */
.bienestar, .eventos, .colaboraciones, .blog {
    margin-top: 30px;
}

/* Estilos para imágenes alineadas a la izquierda y derecha */

.parrafo-con-imagen {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.imagen-izquierda {
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 20%; /* Borde redondeado */
    border: 2px solid black; 
}

.imagen-derecha {
    width: 200px;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 20%; /* Borde redondeado */
    border: 2px solid black; 
}

.parrafo-con-imagen div {
    flex: 1;
}

/* Pie de página */
footer {
    background-color: #333; 
    color: white;
    padding: 30px;
    text-align: center;
    word-spacing: 30px;
    flex: auto;
}
.pie {
    color: white;
    font-size: 14px;
    margin: 5px 0 0;
    text-decoration: none;
}

/* Enlaces */
a:visited {
    color: lightblue;
}
a:hover {
    color: #7ABA96;
}