body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Alinea los elementos en columna */
    min-height: 100%; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
    margin: 0;
}

.container {
    width: 60%; /* Ajusta el ancho del contenedor */
    max-width: 1200px; /* Ancho máximo del contenedor */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white
}

/* Encabezado */
header {
    margin-top: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    min-width: 100%;
    
}

header .logo img {
    width: 350px; /* Ajusta el tamaño según sea necesario */
}

header .logo p {
    font-size: 14px;
    margin: 5px 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    border-top: 2px solid rgb(226, 226, 205);
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.indice {
    color: black;
    font-size: 16px;
    line-height: 3;
}

.breadcrumb {
    color: #c4c2c2;
    text-align: left;
    background-color: white;
}

.breadcrumb a {
    color: #000000;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.recipes {
    text-align: center;
    background-color: lightgray
}

.recipes h2 {
    color: #006400;
    text-decoration: none;

}

.recipe {
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    text-decoration: none;

}

.recipe h3 {
    color: #006400;
    margin: 0;
}

.recipe p.description {
    font-style: italic;
    margin: 5px 0;
}

.recipe-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icon-favorite,
.icon-print,
.icon-pdf {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
}

.icon-favorite {
    font-size: 30px; /* Icono de favorito */
    padding: 5px;
}

.icon-print {
    font-size: 30px; /* Icono de impresión */
    padding: 5px;
}

.icon-pdf {
    font-size: 30px; /* Icono de PDF */
    padding: 5px;
}

/* Botones de paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: #ddd;
    padding: 10px;
  }
  
  .btn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .page-numbers {
    display: flex;
    gap: 10px;
  }
  
  .page {
    background-color: #fff;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .page:hover {
    background-color: green;
    color: white;
  }
/* Pie de página */
footer {
    background-color: #333; 
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    word-spacing: 30px;
    flex: auto;
    min-width: 100%;
}
.pie {
    color: white;
    font-size: 14px;
    margin: 5px 0 0;
    text-decoration: none;
}

/* Enlaces */
a:visited {
    color: lightblue;
}
a:hover {
    color: #7ABA96;
}