/* Estilo global */
html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
header {
    margin-top: 20px;
    text-align: center;
    border-bottom: 2px solid black;
}

header .logo img {
    width: 350px; /* Ajusta el tamaño según sea necesario */
}

header .logo p {
    font-size: 14px;
    margin: 5px 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    border-top: 2px solid rgb(226, 226, 205);
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.indice {
    color: black;
    font-size: 16px;
    line-height: 3;
}

/* Sección principal */
main {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
    background-color: #fff;
}

.sobre-mi {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sobre-mi h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 15px;
}

.sobre-mi p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 15px;
}
/* Configuración imagen */
.parrafo-con-imagen {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.imagen-izquierda {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border: 2px solid black; 
    border-radius: 20%; /* Borde redondeado */
}

.imagen-derecha {
    width: 150px;
    height: auto;
    margin-left: 20px;
    border: 2px solid black; 
    border-radius: 20%; /* Borde redondeado */
}

.parrafo-con-imagen p {
    flex: 1;
}

/* Pie de página */
footer {
    background-color: #333; 
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    word-spacing: 30px;
    flex: auto;
    min-width: 100%;
}
.pie {
    color: white;
    font-size: 14px;
    margin: 5px 0 0;
    text-decoration: none;
}

/* Enlaces */
a:visited {
    color: lightblue;
}
a:hover {
    color: #7ABA96;
}